@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply transition-colors duration-100 ease-in-out;
    }
}
.theme-light {
    --m_color-background: theme('colors.slate.50');
    --m_color-textDefault: theme('colors.slate.600');
    --m_color-textHigh: theme('colors.slate.900');
    --m_color-textPrimary: theme('colors.slate.100');

    --m_color-primary: theme('colors.slate.700');
    --m_color-primaryHigh: theme('colors.slate.900');
    --m_color-primaryDim: theme('colors.slate.300');
    --m_color-border: theme('colors.slate.500');

    --m_color-ghost: theme('colors.slate.200');
    --m_color-ghostHigh: theme('colors.slate.500');

    --m_color-success: theme('colors.blue.500');
    --m_color-textSuccess: theme('colors.slate.100');

    color: var(--m_color-textDefault);
}

.theme-dark {
    --m_color-background: theme('colors.slate.900');
    --m_color-textDefault: theme('colors.slate.50');
    --m_color-textHigh: theme('colors.slate.100');
    --m_color-textPrimary: theme('colors.slate.900');

    --m_color-primary: theme('colors.slate.100');
    --m_color-primaryHigh: theme('colors.slate.50');
    --m_color-primaryDim: theme('colors.slate.500');
    --m_color-border: theme('colors.slate.500');

    --m_color-ghost: theme('colors.slate.600');
    --m_color-ghostHigh: theme('colors.slate.300');

    --m_color-success: theme('colors.blue.500');
    --m_color-textSuccess: theme('colors.slate.100');

    color: var(--m_color-textDefault);
}

.theme-lightRed {
    --m_color-background: theme('colors.red.100');
    --m_color-textDefault: theme('colors.slate.600');
    --m_color-textHigh: theme('colors.slate.900');
    --m_color-textPrimary: theme('colors.white');

    --m_color-primary: theme('colors.red.500');
    --m_color-primaryHigh: theme('colors.red.700');
    --m_color-primaryDim: theme('colors.red.300');
    --m_color-border: theme('colors.red.300');

    --m_color-ghost: theme('colors.slate.50');
    --m_color-ghostHigh: theme('colors.slate.500');

    --m_color-success: theme('colors.blue.500');
    --m_color-textSuccess: theme('colors.slate.100');

    color: var(--m_color-textDefault);
}
.theme-darkRed {
    --m_color-background: theme('colors.red.900');
    --m_color-textDefault: theme('colors.slate.200');
    --m_color-textHigh: theme('colors.white');
    --m_color-textPrimary: theme('colors.white');

    --m_color-primary: theme('colors.red.500');
    --m_color-primaryHigh: theme('colors.red.300');
    --m_color-primaryDim: theme('colors.red.700');
    --m_color-border: theme('colors.red.700');

    --m_color-ghost: theme('colors.slate.600');
    --m_color-ghostHigh: theme('colors.slate.200');

    --m_color-success: theme('colors.blue.500');
    --m_color-textSuccess: theme('colors.slate.100');

    color: var(--m_color-textDefault);
}

.theme-lightBlue {
    --m_color-background: theme('colors.blue.100');
    --m_color-textDefault: theme('colors.slate.600');
    --m_color-textHigh: theme('colors.black');
    --m_color-textPrimary: theme('colors.white');

    --m_color-primary: theme('colors.blue.500');
    --m_color-primaryHigh: theme('colors.blue.700');
    --m_color-primaryDim: theme('colors.blue.300');
    --m_color-border: theme('colors.blue.300');

    --m_color-ghost: theme('colors.slate.50');
    --m_color-ghostHigh: theme('colors.slate.500');

    --m_color-success: theme('colors.green.500');
    --m_color-textSuccess: theme('colors.slate.100');

    color: var(--m_color-textDefault);
}

.theme-darkBlue {
    --m_color-background: theme('colors.blue.900');
    --m_color-textDefault: theme('colors.slate.200');
    --m_color-textHigh: theme('colors.white');
    --m_color-textPrimary: theme('colors.white');

    --m_color-primary: theme('colors.blue.500');
    --m_color-primaryHigh: theme('colors.blue.300');
    --m_color-primaryDim: theme('colors.blue.700');
    --m_color-border: theme('colors.blue.700');

    --m_color-ghost: theme('colors.slate.600');
    --m_color-ghostHigh: theme('colors.slate.200');

    --m_color-success: theme('colors.green.500');
    --m_color-textSuccess: theme('colors.slate.100');

    color: var(--m_color-textDefault);
}